.bundle/
log/*.log
pkg/
test/dummy/db/*.sqlite3
test/dummy/db/*.sqlite3-journal
test/dummy/log/*.log
test/dummy/tmp/
test/dummy/.sass-cache
Gemfile.lock
/.yardoc
*.gem
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
*.sublime-project
*.sublime-workspace